<app-header></app-header>
<div class="container">
    <div fxLayout="column">
        <div class="padding-20"></div>
        <div fxLayout="row" fxFlex>
            <h1 fxFlex>
            </h1>
        </div>
        <div class="padding-20"></div>
        <div fxFlex>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
                <mat-card fxFlex="70" fxLayout="column">
                    <h1 fxFlex class="center">
                        
                    </h1>
                    <div class="padding-20">
                        <img src="../../assets/404-Error.png" style="max-width: 500px;" />
                    </div>
                  
                    <div class="padding-20" fxFlex class="center">
                        <button mat-raised-button color="primary" (click)="takeToHome()">Take me to Home Page</button>
                    </div>
                    <div class="padding-20"></div>
                </mat-card>
            </div>
        </div>


    </div>

    <div class="padding-40"></div>
</div>