<div fxFlex="100" class="inner-card mat-elevation-z1" fxLayout="column">
    <div fxFlex="10" class="h1-txt">
        Add user to access {{row.name}}
    </div>
    <div class="margin-top-25"></div>
    <form fxLayout="column" [formGroup]="lForm" (ngSubmit)="onSubmit()" fxFlex="100">
        <div fxLayout="column" fxLayoutGap="40px">
            <div fxLayout="column">
                <div fxFlex fxLayoutAlign="center start">
                    <mat-form-field fxFlex="70">
                        <mat-label>Search Staff</mat-label>
                        <input type="text" placeholder="Select one" aria-label="user" matInput formControlName="user"
                            required [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let user of users" [value]="user">
                                {{user.name}} - {{user.contact}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
            <button [disabled]="loading || lForm.invalid" mat-raised-button color="primary" type="submit">
                Add User
            </button>
            <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>