.product-info {
    display: flex;
  }
  
  .info-item {
    margin-right: 8px; /* Adjust as needed for spacing between items */
  }
  
  .label {
    font-weight: bold;
    margin-right: 4px; /* Adjust as needed for spacing between label and value */
  }
  