<app-header></app-header>
<div class="adm-container">
    <div class="main-card">
        <div fxLayout="row" fxLayoutGap="20px" class="outline-div" fxLayoutAlign="space-around start">
            <div fxFlex="100" fxLayout="column">
                <div fxFlex fxLayoutAlign="space-between center" class="orderNum">
                    <div fxFlex="40" class="h1-txt"><a appBackButton><mat-icon>arrow_back</mat-icon></a>  New Package</div>
                    <div fxFlex="15" class="info-text" fxLayoutAlign="center center">

                    </div>
                </div>
                <div fxFlex fxLayout="row">
                    <div fxFlex="98" fxLayout="column" class="leftCol">
                        <div class="margin-top-25"></div>
                        <mat-form-field appearance="fill" fxFlex>
                            <mat-label>Package Master</mat-label>
                            <mat-select [(ngModel)]="packageMasterId" (change)="masterChanged()">
                                <mat-option *ngFor="let pkg of pkgMasterList | keyvalue" [value]="pkg.value">
                                    {{pkg.key}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <mat-label>Package Name</mat-label>
                            <input matInput placeholder="Enter package name" [(ngModel)]="packageName" required
                                autocomplete="off">
                        </mat-form-field>

                        <div flexLayout="row" fxLayoutGap="20px">
                            <div fxFlex>
                                <mat-form-field fxFlex>
                                    <mat-label>Applicable On</mat-label>
                                    <mat-select [(ngModel)]="applicableOn">
                                        <mat-option value="M">Members</mat-option>
                                        <mat-option value="NM">Non-Members</mat-option>
                                        <mat-option value="BOTH">Both</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex>
                                <mat-form-field fxFlex>
                                    <mat-label>Frequency</mat-label>
                                    <mat-select [(ngModel)]="frequency" [disabled]="packageMasterId !== 1">
                                        <mat-option value="1">Once</mat-option>
                                        <mat-option value="999">Multiple</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>

                        <div flexLayout="row" fxLayoutGap="20px">
                            <div fxFlex>
                                <!-- <mat-form-field fxFlex>
                                    <mat-label>Applicable From</mat-label>
                                    <mat-select [(ngModel)]="valid_from">
                                        <mat-option value="M">Members</mat-option>
                                        <mat-option value="NM">Non-Members</mat-option>
                                        <mat-option value="BOTH">Both</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field fxFlex>
                                    <mat-label>Applicable From</mat-label>
                                    <input matInput [matDatepicker]="dp3" [min]="todayDate" readonly [(ngModel)]="valid_from">
                                    <mat-hint>Package will be available from this date</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div fxFlex>
                               
                                <mat-form-field fxFlex>
                                    <mat-label>Applicable Till</mat-label>
                                    <input matInput [matDatepicker]="dp1" [min]="todayDate" readonly [(ngModel)]="valid_till">
                                    <mat-hint>Package will be available till this date</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                </mat-form-field>

                            </div>
                            <div fxFlex>
                                <mat-form-field fxFlex>
                                    <mat-label>Make Package General</mat-label>
                                    <mat-select [(ngModel)]="isGeneral">
                                        <mat-option value="0">No</mat-option>
                                        <mat-option value="1">Yes</mat-option>
                                    </mat-select>
                                    <mat-hint>This will make this offer available to all user along with other discount
                                        and offers.</mat-hint>
                                </mat-form-field>

                            </div>

                        </div>
                        <br />


                        <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
                            <mat-card fxFlex="50" *ngIf="packageMasterId == 1">
                                <mat-card-header>
                                    <mat-card-title>Package Trigger Product(s)</mat-card-title>
                                    <mat-card-subtitle>These product will activate package</mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <div>
                                        <mat-form-field fxFlex>
                                            <mat-label>Search Package Trigger Product(s)</mat-label>
                                            <input matInput placeholder="Enter product name or Barcode"
                                                onfocus="this.value=''" [ngModel]="trigSearch"
                                                (ngModelChange)="doSearch($event, true)" autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
                                        <div fxFlex="47" *ngIf="trigProducts.length > 0">
                                            <div class="inner-card mat-elevation-z8" class="fetch-prods">
                                                <div *ngFor="let pro of trigProducts; index as i">
                                                    <div fxFlex="80">
                                                        {{pro.prod_name}}
                                                    </div>
                                                    <div fxFlex>
                                                        <button mat-mini-fab color="primary" aria-label="Add Product"
                                                            (click)="addProduct(pro, true)">
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div fxFlex="47" *ngIf="trigProducts.length == 0">
                                            <div class="inner-card mat-elevation-z8">
                                                <h2>Search Products to Select</h2>
                                            </div>

                                        </div>
                                        <div fxFlex="47" *ngIf="allTriggerProds.length > 0">
                                            <div class="mat-elevation-z8 inner-card " fxFlex>
                                                <h2>Selected Trigger Prods</h2>
                                                <div *ngFor="let pro of allTriggerProds; index as i">
                                                    <mat-card>
                                                        <div>
                                                            {{pro.prod_name}}
                                                        </div>
                                                        <div fxLayout="row" fxLayoutGap="10px">
                                                            <mat-form-field appearance="fill" class="qty" fxFlex="50">
                                                                <mat-label>Qty</mat-label>
                                                                <input matInput placeholder="Qty" required
                                                                    [(ngModel)]="pro.quantity">
                                                            </mat-form-field>
                                                            <div fxFlex="50">
                                                                <button mat-raised-button color="warn"
                                                                    aria-label="Remove Product"
                                                                    (click)="removeProduct(pro, true)">
                                                                    Remove Product
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </mat-card>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                            <mat-card fxFlex="50" *ngIf="packageMasterId == 2">
                                <mat-card-header>
                                    <mat-card-title>Package Trigger Amount</mat-card-title>
                                    <mat-card-subtitle>Over this amount package will trigger</mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <div>
                                        <mat-form-field fxFlex>
                                            <mat-label>Enter Package Trigger Product(s)</mat-label>
                                            <input matInput placeholder="Enter amount" type="number"
                                                [(ngModel)]="amountPkgAmt" autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                            <mat-card fxFlex="50" *ngIf="packageMasterId == 2 || packageMasterId == 1">
                                <mat-card-header>

                                    <mat-card-title>Tagged Product(s)</mat-card-title>
                                    <mat-card-subtitle>These product will become available</mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <div>
                                        <mat-form-field fxFlex>
                                            <mat-label>Search Package Tagged Product(s)</mat-label>
                                            <input matInput placeholder="Enter product name or Barcode"
                                                onfocus="this.value=''" [ngModel]="tagSearch"
                                                (ngModelChange)="doSearch($event, false)" autocomplete="off">
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between start">
                                        <div fxFlex="47" *ngIf="tagProducts.length > 0">
                                            <div class="inner-card mat-elevation-z8" class="fetch-prods">
                                                <div *ngFor="let pro of tagProducts; index as i">
                                                    <div fxFlex="80">
                                                        {{pro.prod_name}}
                                                    </div>
                                                    <div fxFlex>
                                                        <button mat-mini-fab color="primary" aria-label="Add Product"
                                                            (click)="addProduct(pro, false)">
                                                            <mat-icon>add_circle_outline</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div fxFlex="47" *ngIf="tagProducts.length == 0">
                                            <div class="inner-card mat-elevation-z8">
                                                <h2>Search Products to Select</h2>
                                            </div>

                                        </div>
                                        <div fxFlex="47" *ngIf="allTaggedProds.length > 0">
                                            <div class="mat-elevation-z8 inner-card " fxFlex>
                                                <h2>Selected Tagged Prods</h2>
                                                <div *ngFor="let pro of allTaggedProds; index as i">
                                                    <mat-card>
                                                        <div>
                                                            {{pro.prod_name}}
                                                        </div>
                                                        <div fxLayout="row" fxLayoutGap="10px">
                                                            <mat-form-field appearance="fill" class="qty" fxFlex="50">
                                                                <mat-label>Qty</mat-label>
                                                                <input matInput placeholder="Qty" required
                                                                    [(ngModel)]="pro.quantity">
                                                            </mat-form-field>
                                                            <div fxFlex="50">
                                                                <button mat-raised-button color="warn"
                                                                    aria-label="Remove Product"
                                                                    (click)="removeProduct(pro, false)">
                                                                    Remove Product
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </mat-card>
                                                </div>

                                                <mat-card>
                                                    <mat-card-header>

                                                        <mat-card-title>Additional Cost</mat-card-title>
                                                        <mat-card-subtitle>0 if Tagged product are FREE on Triggered
                                                            Items</mat-card-subtitle>
                                                    </mat-card-header>
                                                    <mat-card-content>
                                                        <mat-form-field appearance="fill" class="qty" fxFlex="100">
                                                            <mat-label>Additional Cost</mat-label>
                                                            <input matInput placeholder="Qty" required
                                                                [(ngModel)]="addTagAmt">
                                                        </mat-form-field>
                                                    </mat-card-content>

                                                </mat-card>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                            <mat-card fxFlex="80" *ngIf="packageMasterId == 3">
                                <mat-card-header>
                                    <mat-card-title>Package Trigger Product</mat-card-title>
                                    <mat-card-subtitle>On below scenario package will trigger</mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <div>
                                        <mat-form-field fxFlex>
                                            <mat-label>Select Product On Which Rule Will Be Applicable</mat-label>
                                            <input matInput placeholder="Search By Product Name or Barcode"
                                                [(ngModel)]="selectedProd" [matAutocomplete]="auto"
                                                [formControl]="searchProdCtrl">
                                            <button *ngIf="selectedProd" matSuffix mat-icon-button aria-label="Clear"
                                                (click)="clearSelection()">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()"
                                                [displayWith]="displayWith">
                                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                                <ng-container *ngIf="!isLoading">
                                                    <mat-option *ngFor="let prod of filteredProd" [value]="prod">
                                                        <span><b>{{prod.barcode}}</b> - {{prod.prod_name}} - (QTY -
                                                            {{prod.quantity}})</span>
                                                    </mat-option>
                                                </ng-container>
                                            </mat-autocomplete>
                                        </mat-form-field>


                                    </div>
                                    <div fxLayoutGap="5px">

                                        <mat-form-field fxFlex>
                                            <mat-label>X </mat-label>
                                            <span matPrefix>First &nbsp;</span>
                                            <input matInput placeholder="Quantity" type="number"
                                                [(ngModel)]="firstQuantity" autocomplete="off">
                                            <span matSuffix>Quantity &nbsp;</span>
                                        </mat-form-field>

                                        <mat-form-field fxFlex>
                                            <mat-label> -- </mat-label>
                                            <span matPrefix>at Amount &nbsp;</span>
                                            <input matInput placeholder="Enter amount" 
                                                [(ngModel)]="firstAmount" autocomplete="off">
                                                <mat-hint>Leave Blank for Selling Price</mat-hint>
                                        </mat-form-field>
                                        
                                        <mat-form-field fxFlex>
                                            <mat-label>-- </mat-label>
                                            <span matPrefix> &nbsp;then after that at Amount &nbsp;</span>
                                            <input matInput placeholder="Enter amount" 
                                                [(ngModel)]="secondAmount" autocomplete="off">
                                                <mat-hint>Both Amount Can't be blank.</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>

                            <mat-card fxFlex="80" *ngIf="packageMasterId == 4">
                                <h3>Rate Slab Package is Coming Soon!</h3>
                            </mat-card>

                        </div>
                        <div class="margin-top-25"></div>
                        <div fxFlex class="center">
                            <button mat-raised-button (click)="createPackage()">Create
                                Package!</button>
                        </div>
                        <br />
                        <br />
                        <br />

                    </div>

                </div>
            </div>
        </div>
    </div>