<div class="main-card">
    <div fxLayout="row" fxLayoutGap="20px" class="outline-div" fxLayoutAlign="start start">
      <div fxFlex="100" fxLayout="column">
        <div fxFlex fxLayoutAlign="space-between center" class="orderNum">
          <div fxFlex="60" class="h1-txt">Request Detail</div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand</th>
            <td mat-cell *matCellDef="let row">
              {{ row.brand_name }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="prod_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
            <td mat-cell *matCellDef="let row">{{ row.prod_name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="barcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Barcode
            </th>
            <td mat-cell *matCellDef="let row">{{ row.barcode }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let row">
              {{ row.quantity }}
            </td>
          </ng-container>
          <ng-container matColumnDef="squantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sent Qty</th>
            <td mat-cell *matCellDef="let row">
              {{ row.quantity_sent }}
            </td>
          </ng-container>
          <ng-container matColumnDef="rquantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Received QTY</th>
            <td mat-cell *matCellDef="let row">
              {{ row.quantity_received }}
            </td>
          </ng-container>
          <ng-container matColumnDef="batch">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch</th>
            <td mat-cell *matCellDef="let row">
              {{ row.batch_name }} - {{row.mrp}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data found</td>
          </tr>
        </table>
      </div>
      <br>
    </div>
  </div>