<h2 class="no-print">Generating Bill...</h2>
<div id="print-section" *ngIf="!!detail">
  <div class="no-print" style="text-align: end">
    <button mat-raised-button class="no-print" color="primary" (click)="printRecipt()">
      Print
    </button>
  </div>
  <div class="recipt-header">
    <h3 class="sub-heading">GST Invoice</h3>
    <h2 class="main-heading">Ghar Ghar Baazar</h2>
    <p class="sub-heading" style="font-size: 10px;">Unit of Guru Vardaan Consumer Products Pvt. Ltd.</p>
    <p class="sub-heading">{{user.sw_address}}</p>
    <p class="sub-heading">{{user.sw_city}}-{{user.sw_pin}} Ph-{{user.sw_contact}}</p>
    <h3 class="main-heading">GSTIN : 09AAICG0011C1ZB</h3>
  </div>
  <div class="recipt-body">
    <table class="normal-lineheight">
      <tr>
        <td class="btop" style="width: 13%;">Customer: </td>
        <td class="btop" style="width: 38%">{{getName(detail) }}</td>
        <td class="btop" style="width: 50px;">Bill No: </td>
        <td class="btop">{{ detail.idstore_warehouse }}/{{ detail.idcustomer_order }}</td>
      </tr>
      <tr>
        <td>Wallet Type:</td>
        <td>{{(detail?.idmembership_plan == 2) ? 'Product':
          (detail?.idmembership_plan == 3) ? 'Land':
          (detail?.idmembership_plan == 4) ? 'CoPratner': 'Instant'}}</td>
        <td>Date</td>
        <td>{{ moment(detail.created_at).format('DD-MM-YY') }}</td>
      </tr>
      <tr>
        <td>User:</td>
        <td>{{ user.name }}</td>
        <td>Time:</td>
        <td>{{ moment(detail.created_at).format('h:mm a') }}</td>
      </tr>
    </table>
    <table style="border-spacing: 0px;">

      <tr class="normal-lineheight">
        <td class="btop">#</td>
        <td class="btop" colspan="6">Discription</td>
      </tr>
      <tr style="border-bottom: 3px solid black;" class="normal-lineheight">
        <td class="bbot"></td>
        <td class="bbot"></td>
        <td class="bbot">MRP</td>
        <td class="bbot">Qty</td>
        <td class="bbot">Rate</td>
        <td class="bbot">Disc</td>
        <td class="bbot">Amount</td>
      </tr>

      <ng-container *ngFor="let item of detail.order_detail; let i = index">
        <!-- <tr>
            <td>{{ i + 1 }}</td>
            <td colspan="5">
              <b>{{ item.prod_name }}</b>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>{{ item["mrp"] }}</td>
            <td>{{ item["qty"] }}</td>
            <td>{{ item["selling_price"] }}</td>
            <td>{{ item["discount"] }}</td>
            <td>{{ item["selling_price"] * item["qty"] }}</td>
          </tr> -->

        <tr class="normal-lineheight" *ngIf="item.status == 1">
          <td>{{ i + 1 }}</td>
          <td colspan="5"><b style="padding-top: 2px;">{{ item.prod_name | uppercase}}</b></td>
        </tr>
        <tr class="normal-lineheight" *ngIf="item.status == 1">
          <td></td>
          <td></td>
          <td>{{ item["unit_mrp"] | number : '1.2-2' }}</td>
          <td>{{ item["quantity"] }}</td>
          <td>{{ getSP(item) | number : '1.2-2'}}</td>
          <td>{{ item["discount"] | number : '1.2-2' }}</td>
          <td>{{ (item["unit_selling_price"] * item["quantity"]) | number : '1.2-2' }}</td>
        </tr>


      </ng-container>
      <tfoot>
        <tr>
          <td colspan="4" class="btop bbot">Total Items :{{ totItems }}</td>
          <td colspan="4" class="btop bbot center">Total Qty: {{ totQty }}</td>
        </tr>
        <tr>
          <td colspan="6" style="text-align: center">
            Above prices are inclusive of all taxes*
          </td>
        </tr>
      </tfoot>
    </table>

    <table>
      <tr>
        <td class="btop" style="font-weight: bold;">
          GST Details
        </td>
      </tr>
    </table>
    <table class="right">
      <tr class="center">
        <td class="btop bbot" style="width: 20%;">GST%</td>
        <td class="btop bbot" style="width: 20%;">Taxable</td>
        <td class="btop bbot" style="width: 20%;">CGST</td>
        <td class="btop bbot" style="width: 20%;">SGST</td>
        <td class="btop bbot" style="width: 20%;">Tot GST</td>
      </tr>
      <tr *ngIf="gst['p-0']['taxable'] > 0" class="normal-lineheight">
        <td style="padding-top: 2px;">0.00%</td>
        <td>{{gst['p-0']["taxable"] | number : '1.2-2'}}</td>
        <td>{{gst['p-0']["cgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-0']["sgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-0']["totalTax"] | number : '1.2-2' }}</td>
      </tr>

      <tr *ngIf="gst['p-5']['taxable'] > 0" class="normal-lineheight">
        <td style="padding-top: 2px;">5.00%</td>
        <td>{{gst['p-5']["taxable"] | number : '1.2-2' }}</td>
        <td>{{gst['p-5']["cgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-5']["sgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-5']["totalTax"] | number : '1.2-2' }}</td>
      </tr>

      <tr *ngIf="gst['p-12']['taxable'] > 0" class="normal-lineheight">
        <td style="padding-top: 2px;">12.00%</td>
        <td>{{gst['p-12']["taxable"] | number : '1.2-2' }}</td>
        <td>{{gst['p-12']["cgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-12']["sgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-12']["totalTax"] | number : '1.2-2' }}</td>
      </tr>

      <tr *ngIf="gst['p-18']['taxable'] > 0" class="normal-lineheight">
        <td style="padding-top: 2px;">18.00%</td>
        <td>{{gst['p-18']["taxable"] | number : '1.2-2' }}</td>
        <td>{{gst['p-18']["cgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-18']["sgst"] | number : '1.2-2' }}</td>
        <td>{{gst['p-18']["totalTax"] | number : '1.2-2' }}</td>
      </tr>

      <tr >
        <td class="btop bbot left"><b>Totals</b></td>
        <td class="btop bbot">{{gst['tot']["taxable"] | number : '1.2-2' }}</td>
        <td class="btop bbot">{{gst['tot']["cgst"] | number : '1.2-2' }}</td>
        <td class="btop bbot">{{gst['tot']["sgst"] | number : '1.2-2' }}</td>
        <td class="btop bbot">{{gst['tot']["totalTax"] | number : '1.2-2' }}</td>
      </tr>
    </table>
    <table>
      <tr class="right normal-lineheight">
        <td style="width: 30%;">&nbsp;</td>
        <td colspan="2">Sub Total</td>
        <td>{{(detail?.total_price) | number : '1.2-2'}}</td>
      </tr>
      <tr class="right normal-lineheight">
        <td></td>
        <td colspan="2"> {{(detail?.idmembership_plan == 2) ? 'Product Discount':
          (detail?.idmembership_plan == 3) ? 'Land Discount':
          (detail?.idmembership_plan == 4) ? 'CoPratner Discount': 'Instant Discount'}} </td>
        <td>
          {{ detail?.idmembership_plan == 2 ? (detail?.product_discount | number : '1.2-2') :
          (detail?.idmembership_plan == 3 ? (detail?.land_discount | number : '1.2-2') :
          (detail?.idmembership_plan == 4 ? (detail?.copartner_discount | number : '1.2-2') :
          (detail?.instant_discount | number : '1.2-2'))) }}
        </td>
      </tr>
      <tr class="right normal-lineheight" *ngIf="detail?.extraDisc">
        <td style="width: 30%;">&nbsp;</td>
        <td colspan="2">Extra Disc</td>
        <td>{{(detail?.extraDisc) | number : '1.2-2'}}</td>
      </tr>
      <tr class="right normal-lineheight" *ngIf="detail && detail.redeemed_amt > 0">
        <td style="width: 30%;">&nbsp;</td>
        <td colspan="2">Wallet Bal</td>
        <td>{{(detail?.redeemed_amt) | number : '1.2-2'}}</td>
      </tr>
      <tr class="right normal-lineheight" *ngIf="roundOff != 0">
        <td></td>
        <td colspan="2">Round Off</td>
        <td>{{roundOff | number : '1.2-2'}}</td>
      </tr>
      <tr class="right">
        <td class="btop bbot"></td>
        <td class="btop bbot" colspan="2"><b>Net Payable</b></td>
        <td class="btop bbot"><b>{{(detail?.total_price) | number : '1.2-2'}}</b></td>
      </tr>
      <tr >
        <td colspan="4" class=" bbot"><b>{{amt | titlecase}} Rupees</b></td>
      </tr>
    </table>
    <table>
      <tr>
        <td colspan="4">
         <ng-container *ngIf="detail?.idmembership_plan === 2 || detail?.idmembership_plan === 3 || detail?.idmembership_plan === 4">
            <h4 style="font-weight: bold;text-align: center; margin: 0px;">You have been credited with total point of 
              {{ detail?.idmembership_plan == 2 ? (detail?.product_discount | number : '1.2-2') :
              (detail?.idmembership_plan == 3 ? (detail?.land_discount | number : '1.2-2') :
              (detail?.idmembership_plan == 4 ? (detail?.copartner_discount | number : '1.2-2') :
              (detail?.instant_discount | number : '1.2-2'))) }}
              in your wallet. &nbsp;</h4>
            <h3>
              Your new updated wallet balance is {{ detail?.wallet_balance |
                number : '1.2-2' }}
            </h3>
         </ng-container>
         <ng-container *ngIf="detail?.idmembership_plan === 1">
            <h4 style="font-weight: bold;text-align: center; margin: 0px;">Total Save On This Bill : &nbsp;{{ ((detail.instant_discount) + (detail?.extraDisc ? detail?.extraDisc : 0)) | number : '1.2-2' }}</h4>
         </ng-container>
          
        </td>
        <td>
          <h4></h4>
        </td>
      </tr>
    </table>
    <h5 style="margin: 0px;">E & O.E Subject to LUCKNOW Jurisdiction</h5>
    <h3 style="text-align: center;font-family: cursive;
    font-style: italic; margin: 0px;"  class="sub-heading">!!! Thank you !!! Visit Again !!!</h3>
    <div class="no-print" style="text-align: end">
      <button mat-raised-button class="no-print" color="primary" (click)="printRecipt()">
        Print
      </button>
    </div>
  </div>
</div>