.user-profile-card {
    max-width: 400px;
    margin: 20px auto;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/icons/best-vendor.jpg'); /* Add a path to your avatar image */
    background-size: cover;
  }