/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeflex/primeflex.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #3d4a59;
}
.full-width {
    width: 100%;
}

.mat-toolbar.mat-primary {
    background: #fff;
    color: #aeaeae;
}
.margin-top-25 {
    margin-top: 25px;
}

.padding-20 {
    padding: 20px;
}
.center{
    text-align: center;
}
ngx-material-timepicker-container .timepicker-overlay {
    z-index: 9999 !important;
}
ngx-dropzone-label {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container {
    min-height: 89%;
    width: 98%;
    // background-color: #ebeff2;
    padding: 15px;

    background-color: #957DAD;
    background-size: 56px 56px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.adm-container{
    height: 80rem;
    width: 95rem;
    // background-color: #ebeff2;
    padding: 15px;

    background-color: #7f83b0;
    background-size: 56px 56px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
}
.wh-reports-container{
        height: calc(100% - 4rem);
        width: calc(100% -1rem);
        // background-color: #ebeff2;
        padding: 15px;
    
        background-color: #7f83b0;
        background-size: 56px 56px;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);;
}
.wh-container{
    // height: 100%;
    min-height: 100vh;
    width: 98%;
    // background-color: #ebeff2;
    padding: 15px;

    background-size: 56px 56px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.main-card {
    // height: 100%;
    width: 100%;
    background-color: #f6f7fa;
    border-radius: 25px;
}

.h1-txt {
    font-size: 26px;
}

.text-center {
    text-align: center;
}

.outline-div {
    padding: 20px 0px 0px 20px;
}
.info-text {
    color: #9dacba;
    font-size: 20px;
}
table{
    width: 100%;
}
.inner-card{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    border-radius: 25px;
    padding: 20px 10px 20px 10px;
}
.mat-column-action {
    width: 15%;
}

.h1-txt a{
    cursor: pointer;
}

.p-buttonset .p-button {
    padding: 0.2rem 0.4rem !important;
}