.spacer {
    flex: 1 1 auto;
  }

mat-toolbar{
    font-size: 15px;
}
.heading-top{
  color: #4593F8;
  border-right: 1px solid #CBCBCB;
  font-size: 24px;
  padding-right: 15px;
  cursor: pointer;
}

.search-outline{
  width: 400px;
  margin: 0px 0px 0px 55px;
}

