<div class="main-card">
    <div fxLayout="row" fxLayoutGap="20px" class="outline-div" fxLayoutAlign="start start">
        <div fxFlex="100" fxLayout="column">
            <div fxFlex fxLayoutAlign="space-between center" class="orderNum">
                <div fxFlex="40" class="h1-txt">Bill transfer Request List</div>

            </div>
            <div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="unit_purchase_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Purchase Price  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377;    {{ row.unit_purchase_price | number }}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="prod_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Barcode/ Product</th>
                        <td mat-cell *matCellDef="let row">{{ row.barcode }} / {{ row.prod_name }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="hsn">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>HSN</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.hsn }}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="expiry">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.expiry ? row.expiry : 'No Date' }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>QTY</th>
                        <td mat-cell *matCellDef="let row">
                            {{ row.quantity }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Total Price  &#8377;
                        </th>
                        <td mat-cell *matCellDef="let row">
                            &#8377;  {{ (row.unit_purchase_price * row.quantity) | number }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="mrp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MRP  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377;  {{ row.mrp | number }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="selling_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Instant Price  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377; {{ row.selling_price ? row.selling_price : 0  }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="product_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Price  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377; {{ row.product ? row.product : 0 }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="copartner_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Copartner Price  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377; {{ row.copartner ? row.copartner : 0  }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="land_price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Land Price  &#8377;</th>
                        <td mat-cell *matCellDef="let row">
                            &#8377; {{ row.land ? row.land : 0 }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data found</td>
                    </tr>
                </table>
            </div>
           
        </div>
        <br>
    </div>
</div>